.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: #f0f4f8;
}

/* CARD (le cadre comme Create Characteristic) */
.form-card {
  width: 650px;
  padding: 25px;
  border: 2px solid rgba(18, 51, 117, 0.9);
  background-color: rgb(242, 248, 250);
  border-radius: 12px;
}

/* TITLE */
.title {
  text-align: center;
  color: #123375;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
}

/* FULL WIDTH */
.full-width {
  width: 100%;
  margin-top: 10px;
}

/* SUB TITLE */
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: #123375;
  margin: 10px 0;
}

/* BUTTONS */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* PRIMARY BUTTON */
.btn-blue {
  background-color: #123375 !important;
  color: white !important;
}

/* OUTLINE BUTTON */
.btn-outline {
  border: 1px solid #123375 !important;
  color: #123375 !important;
}