<div class="page">

  <mat-card class="form-card">

    <h2 class="title">Create Aisle</h2>

    <form [formGroup]="aisleFrom"
          (ngSubmit)="onSubmit()"
          class="form">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text"
               formControlName="name"
               placeholder="Enter aisle name">
      </mat-form-field>

      <!-- Buttons -->
      <div class="button-group">

        <button mat-raised-button class="btn-blue" type="submit">
          Create
        </button>

        <button mat-stroked-button class="btn-outline"
                type="button"
                (click)="goBack()">
          Back
        </button>

      </div>

    </form>

  </mat-card>

</div>