<h2 class="title">Edit Sale Oder</h2>
<div class="form-container">

  <form [formGroup]="saleOrderLineForm" (ngSubmit)="onSubmit()" class="supplier-form">

   

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>unitPrice</mat-label>
      <input matInput formControlName="unitPrice">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>quantity</mat-label>
      <input matInput formControlName="quantity">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>discount</mat-label>
      <input matInput type="number" formControlName="discount">
    </mat-form-field>




    <div class="button-group">
        <button mat-raised-button color="primary" type="submit">
          Update Sale Order Line
        </button>
        <button type="button" class="back-button" mat-raised-button  color="primary"
                  (click)="goBack()">
          Back
        </button>
    </div>

  </form>
</div>