<form [formGroup]="changePasswordForm" class="card">

  <h2 class="title">Change Password</h2>
  <p class="subtitle">Secure your account by updating your password</p>

  <div *ngIf="step === 1" class="form-section">

    <div class="input-group">
      <label>Email</label>
      <input type="email" formControlName="email" readonly />
    </div>

    <div class="input-group password-wrapper">
      <label>Old Password</label>

      <input
      [type]="showOldPassword ? 'text' : 'password'"
        formControlName="oldPassword"
        placeholder="Enter your old password"
      />
      <span class="eye-icon" (click)="toggleOldPassword()">
        <i [class]="showOldPassword ? 'fa-solid fa-eye'  : 'fa-solid fa-eye-slash'"></i>
      </span>
      
    </div>

   
    <div class="input-group password-wrapper">
      <div class="input-group password-wrapper">
        <label>New Password</label>
      
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Enter your new password"
        />
      
        <span class="eye-icon" (click)="toggleNewPassword()">
          <i [class]="showNewPassword ? 'fa-solid fa-eye'  : 'fa-solid fa-eye-slash'"></i>
        </span>
      </div>
    </div>

    <button class="btn primary" type="button" (click)="onSendCode()">
      Send verification code
    </button>
    <button class="btn secondary" type="button" (click)="goBack()">
      Back
    </button>
  </div>

  <div *ngIf="step === 2" class="form-section">

    <div class="input-group">
      <label>Verification Code</label>
      <input type="text" formControlName="code" placeholder="Enter code" />
    </div>

    <button class="btn primary" type="button" (click)="resetPassword()">
      Confirm Change
    </button>

    <button class="btn secondary" type="button" (click)="onResendCode()">
      Resend Code
    </button>
    <button class="btn secondary" type="button" (click)="goBack()">
      Back
    </button>
  </div>



</form>