<div class="page">

  <mat-card class="form-card">

    <h2 class="title">Edit Product Unit Price Sale</h2>

    <form [formGroup]="productUnitSaleForm"
          (ngSubmit)="onSubmit()"
          class="form">

      <!-- Product -->
    

      <!-- Unit Price -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Unit Price</mat-label>
        <input matInput type="number" formControlName="unitPrice">
      </mat-form-field>

      <!-- Conversion Factor -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Conversion Factor</mat-label>
        <input matInput type="number" formControlName="conversionFactor">
      </mat-form-field>

      <!-- Unit -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Unit</mat-label>
        <mat-select formControlName="unitId">
          <mat-option *ngFor="let unit of units | async"
                      [value]="unit.unitId">
            {{ unit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Buttons -->
      <div class="button-group">

        <button mat-raised-button class="btn-blue" type="submit">
          Update
        </button>

        <button mat-stroked-button class="btn-outline"
                type="button"
                (click)="goBack()">
          Back
        </button>

      </div>

    </form>

  </mat-card>

</div>